<!-- メイン -->
<div class="top">
 <div class="top-main">
  <div class="top-container">
   <div class="container-left">
    <div class="form-fream">
     <div class="form-area">
      <p class="form-area-title">Potepan Shareででまだ体感したことのない旅をしよう</p>
      <form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">
       <label for="___">エリア</label>
       <input type="text" name="area" id="area" value="" class="form-control " placeholder="東京">
       <input type="submit" name="commit" value="探す" class="form-control-btn-primary " data-disable-with="探す">
      </form>
     </div>
    </div>
   </div>
  </div>
 </div> 

<!-- サブ -->
 <div class="top-sub">
  <div class="panel-area">
   <h1 class="sub-title">おすすめのエリア</h1>
    <div class="row">
     <div class="panel-item">
      <span>東京</span>
      <a href="">
       <img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
      </a> 
     </div> 

     <div class="panel-item">
      <span>大阪</span>
      <a href="">
       <img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
      </a> 
     </div>

     <div class="panel-item">
      <span>京都</span>
      <a href="">
       <img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
      </a> 
     </div>

     <div class="panel-item">
      <span>札幌</span>
      <a href="">
       <img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
      </a> 
     </div> 
    </div>
   </div>
  </div>
 </div>    
  
<!-- フッター -->
<div class="footer">
 <p>© 2022 POTEPAN.INC.</p>
</div> 
 





 

