// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* confirmビュー */
.reservations-content {
    position: relative;left: 600px;
    position: relative;top: 20px;
}

.price-icon {
    position: relative;left: 600px;
    position: relative;top: 10px;
}


.reservations-new-date-select {
    display: block;
    position: relative;left: 400px;
    position: relative;top: 70px;
}

.label-4 {
    position: relative;bottom: 60px;
    position: relative;right: 60px; 
}
.label-5 {
    position: relative;top: -60px;
    position: relative;right: 60px;
}
.label-6 {
   position: relative;top: -67px;
   position: relative;right: 70px; 
    
}


