// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*accountビュー*/
.user-nav-pc {
    position: relative; bottom: 750px;
    position: relative;right: 60px;
    font-size: 18px;
}
.pro {
    position: relative;top: 10px;
}

.title-account {
    position: relative;bottom: 1600px;
    position: relative;left: 300px;
}
.row-account {
    position: relative;bottom: 650px;
    position: relative;left: 200px;
}
.user-information { 
    position: relative;left: 200px;
    position: relative;bottom: 25px;
}
.row-up {
    position: relative;bottom: 630px;
    position: relative;left: 220px;
}

//プロフィール
.user-nav-pc-p {
    position: relative;bottom: 750px;
    position: relative;right: 60px;
    font-size: 18px;
}
.user-image {
    width: 100px;
    height: 100px;
    position: relative;bottom: 700px;
    position: relative;left: 400px;
}
.title-p {
    position: relative;bottom: 750px;
    position: relative;left: 150px;
}
.user-p {
    position: relative;bottom: 500px;
    position: relative;left: 500px;
}
.user-img {
    position: relative;bottom: 65px;
    position: relative;right: 120px;
}

.user-r {
    position: relative;bottom: 430px;
    position: relative;left: 250px;
}
.user-img-2 {
    position: relative;bottom: 65px;
    position: relative;right: 120px;
}

.user-l {
    position: relative;bottom: 350px;
    position: relative;left: 105px;
}
.user-img-3 {
    position: relative;bottom: 65px;
    position: relative;right: 122px;
}
.btn-p {
    position: relative;bottom: 220px;
    position: relative;right: 150px;
}
   
